.input {
  width: 100%;
  height: 50px;
  padding: 10px 12px;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;

  &:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgb(255 213 79 / 30%);
  }
}

.input::placeholder {
  color: var(--secondary-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
