.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  //width: 200px;
  padding: 0 20px;
  height: 50px;
  flex-shrink: 0;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.button-apply {
  background-color: var(--primary-color);

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    box-shadow: inset 0 2px 4px rgb(0 0 0 / 10%);
  }
}

.button-clear {
  background-color: var(--danger-color);

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    box-shadow: inset 0 2px 4px rgb(0 0 0 / 10%);
  }
}

.button-success {
  background-color: var(--success-color);

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    box-shadow: inset 0 2px 4px rgb(0 0 0 / 10%);
  }
}

.button-secondary {
  background-color: var(--secondary-color);

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    box-shadow: inset 0 2px 4px rgb(0 0 0 / 10%);
  }
}

.active {
  border: 2px solid black;
  background-color: var(--bg-color);

  &:hover {
    filter: none; 
    cursor: default;
  }
}
