/* src/styles/NotFoundPage.module.scss */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;

  h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  a {
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: underline;

    &:hover {
      color: #0056b3;
    }
  }
}
