:root {
  --bg-color: #fafafa;
  --text-color: #1a1a1a;
  --primary-color: #ffd54f;
  --danger-color: #e57373;
  --success-color: #81c784;
  --secondary-color: #e5e5e5;
}

[data-theme='dark'] {
  --bg-color: #1e1e1e;
  --text-color: #f5f5f5;
  --primary-color: #ffd54f;
  --secondary-color: #7e57c2;
  --success-color: #4caf50;
  --danger-color: #ef5350;
}
